.header{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.titulo{
    font-size: 30px;
}

.Descarga{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 20px;
}
